<% if flash.any? %>
  <% user_facing_flashes.each do |key, value| %>
    <div class="alert alert-dismissable alert-<%= flash_class(key) %>">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <%= value %>
    </div>
  <% end %>
<% end %>